*.zip
*.tar
*.tar.xz
*.tar.gz
*.tar.bz2
ERC.rpt
*.bak
output.pdf
*.wrl
[0-9].txt
report.txt
/kicad01_power_board_for_nuclear_team/kicad01_power_board_for_nuclear_team*.csv
/kicad01_power_board_for_nuclear_team/_drill/
